<td><%- id %>. <%- text %></td>
<td class="text-center"><input type="radio" name="q<%- id %>" value="-2" /></td>
<td class="text-center"><input type="radio" name="q<%- id %>" value="-1" /></td>
<td class="text-center"><input type="radio" name="q<%- id %>" value="0" /></td>
<td class="text-center"><input type="radio" name="q<%- id %>" value="1" /></td>
<td class="text-center"><input type="radio" name="q<%- id %>" value="2" /></td>
<td class="text-center"><button type="button" id="clear" class="btn btn-default">Clear</button></td>